[Unit]
Description = "Consul Standalone Server"

[Service]
KillSignal=INT
ExecStart=/usr/local/bin/consul agent -data-dir=/consul-data -bootstrap -bind={bind-ip} -server -ui -client=209.97.155.9
Restart=always
ExecStopPost=/bin/sleep 5

[Install]
WantedBy=multi-user.target
